@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
body{
    margin: 0px;/* margem Exterena*/
    padding:0px;/*margem interna*/
}

#principal{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    background-color: #303030;

    display: flex;
    /*isso e para defini espaçamento display com o espaço lateral*/
    justify-content: space-between;
}

#principal div a{
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-family: 'Inter';
}

    #principal div a:hover{
        color:#6a3d3d ;    
    }

#principal button{
    /*Centralize os alinhamentos de um dos itens dentro de um elemento flexível*/
    align-self: center;
    margin-right: 5%;
    background-color: #0C70F2;
    border: 0px;

    height: 40px;
    width: 80px;

    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    /*PARA FAZE APARECE A MÃO QUANDO CURSO PASSA POR SIMA NO BUTTON*/
    cursor: pointer;
}

#menu{
    align-items: center;
    /**/
    display:flex ;
    /*para define o espaço que a id menu vai ocupa na pagina */
    width: 55%;
    /*isso e para defini espaçamento display descontado o espaço lateral*/
    justify-content: space-around;
    margin-left: 5.7%;
}
#center{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
}